body{
    background-color: peru;
    text-align: center;
}
h1{
    background-color: black;
    color: peru;
}
ul {
list-style-position:inside;
}


:any-link{
    color: brown;
}

#listaCarrito´{
    border: 1px solid black;
    padding: 70px; /* Increase padding to create space */
    width: 50%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
}
#lorem {
    border: 1px solid black;
    padding: 5  0px;
    width: 50%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  

  .dark {
    background-color: black;
    color: white;
    border-color: peru;
    border: 1px solid peru; /* Fix here */
  }
  
  .dark h1 {
    background-color: peru;
    color: black;
  }
  .dark #listaCarrito {
    border-color: peru;
    background-color: peru;
    
  }
  
  .dark #lorem{
    border-color: peru;
    background-color: black;
  }



@media only screen and (max-width: 480px) {
    
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 24px;
    }
    img {
        max-width: 100%; 
        height: auto; 
        width: 10%; 
        max-height: initial; 
      }
  }
  